* {
  box-sizing: border-box;
}

.header {
  position: fixed;
}

.main {
  padding-top: 90px;
}

.profile {
  font-size: 30px;
  margin-left: 6rem;
}
.profile-edit-bar-wrapper {
  display: flex;
  width: 85%;
  margin: 0 auto;
}

.profile-edit-left-bar {
  margin: 10px 30px 0 0;
  width: 30%;
}

.profile-edit-right-bar {
  width: 70%;
}

.profile-title {
  /* font-size: 20px; */
  color: gray;
  margin-top: 0.5rem;
}

.profile-contents-field {
  width: 50%;
  height: 5rem;
}

.profile-bottom-bar {
  display: flex;
  width: 100%;
  justify-content: center;
}

input.profile-update-btn {
  display: block;
  text-align: center;
  width: 200px;
  height: 80px;
  margin: 30px 30px 0 0;
  line-height: 80px;
  font-size: large;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  background-color: #6ca38d;
  color: #ffffff;
}

a.profile-show-btn {
  display: block;
  text-align: center;
  width: 200px;
  height: 80px;
  margin: 30px 30px 0 0;
  line-height: 80px;
  font-size: large;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  background-color: #6ca38d;
  color: #ffffff;
}