* {
  box-sizing: border-box;
}

.header {
  position: fixed;
}

.main {
  padding-top: 50px;
}

.profile {
  font-size: 30px;
  margin-left: 6rem;
}
.profile-edit-bar-wrapper {
  display: flex;
  width: 85%;
  margin: 0 auto;
}

.profile-edit-left-bar {
  margin: 10px 30px 0 0;
  width: 30%;
}

.profile-image-field {
  display: block;
  width: 80%;
  height: 3rem;
  margin: 0 auto 20px;
  color: #fff;
  text-align: center;
  line-height: 3rem;
  background-color: #6ca38d;
  border: 1px solid #6ca38d;
  border-radius: 5px;
  transition: 0.4s ease;
}

.profile-image-field:hover {
  color: #6ca38d;
  background-color: #fff;
  border: 1px solid #6ca38d;
}

.hidden {
  display: none;
}

#image-preview>div>img {
  width: 360px;
  height: 500px;
}

.profile-edit-right-bar {
  width: 70%;
}

.profile-title {
  /* font-size: 20px; */
  color: gray;
  margin-top: 0.5rem;
}

.profile-contents-field {
  width: 50%;
  height: 5rem;
  padding: 0.5rem 1rem;
}

.profile-bottom-bar {
  display: flex;
  width: 100%;
  justify-content: center;
}

input.profile-update-btn,
a.profile-show-btn {
  display: block;
  text-align: center;
  width: 200px;
  height: 80px;
  margin: 30px 30px 0 0;
  line-height: 80px;
  font-size: large;
  text-decoration: none;
  border: 1px solid #6ca38d;
  border-radius: 5px;
  background-color: #6ca38d;
  color: #ffffff;
  transition: 0.4s ease;
}

.profile-update-btn:hover,
.profile-show-btn:hover {
  color: #6ca38d;
  background-color: #fff;
  border: 1px solid #6ca38d;
}