<div class="signup-complete-main">
  <div class="signup-complete-wrapper">
    <div class="signup-complete-message">登録が完了しました</div>
    <%= link_to "トップへ戻る", root_path, class:"signup-complete-btn"%>
  </div>
</div>