* {
  box-sizing: border-box;
}

.header {
  position: fixed;
}

.main {
  padding-top: 50px;
}

.show-edit-wrapper {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 20px auto 0;
}

.show-edit-left-bar {
  width: 70%;
}

.show-edit-right-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
}


.article-title {
  /* font-size: 20px; */
  color: gray;
  margin-top: 0.5rem;
}

.article-select-box {
  width: 30%;
  height: 2rem;
  margin-top: 0.5rem;
}

.article-title-field {
  width: 70%;
  height: 3.5rem;
  margin-top: 0.5rem;
  padding: 0.3rem 0.5rem;
}

.article-journal-field {
  width: 70%;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}

.article-date-line {
  display: flex;
  margin-top: 0.5rem;
}

#article_publication_date_1i {
  width: 20%;
}

#article_publication_date_2i,
#article_publication_date_3i {
  width: 10%;
}

.article-abstract-field {
  width: 70%;
  height: 8rem;
  margin-top: 0.5rem;
  padding: 0.3rem, 0.5rem;
}

.article-bottom-bar {
  display: flex;
  width: 100%;
  justify-content: center;
}


input.edit-end-btn {
  display: block;
  text-align: center;
  width: 200px;
  height: 80px;
  margin: 30px 30px 0 0;
  line-height: 80px;
  font-size: large;
  text-decoration: none;
  border: 1px solid #6ca38d;
  border-radius: 5px;
  background-color: #6ca38d;
  color: #ffffff;
  transition: 0.4s ease;
}

a.article-show-btn {
  display: block;
  text-align: center;
  width: 200px;
  height: 80px;
  margin: 30px 30px 0 0;
  line-height: 80px;
  font-size: large;
  text-decoration: none;
  border: 1px solid #6ca38d;
  border-radius: 5px;
  background-color: #6ca38d;
  color: #ffffff;
  transition: 0.4s ease;
}

.edit-end-btn:hover,
.article-show-btn:hover {
  color: #6ca38d;
  background-color: #fff;
  border: 1px solid #6ca38d;
}