* {
  box-sizing: border-box;
}

.header {
  position: fixed;
}

.main {
  padding-top: 50px;
}

.index-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: scroll;
}


/* .index-side-bar {
  width: 35%;
  border-right: 1px solid black;
  overflow: scroll;
} */

.index-main-bar {
  width: 100%;
}



