* {
  box-sizing: border-box;
}

.card {
  width: 90%;
  margin: 20px auto 0;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem 2rem 0.5rem;
}

.card-contents {
  width: 100%;
  margin: auto auto;
}


.article-btn {
  display: block;
  text-decoration: none;
  color: #0055aa;
}

.article-btn:hover {
  text-decoration: underline;
  background-color: #f5f5f5;
}

.article-profile-btn {
  display: block;
  text-decoration: none;
  color: #0055aa;
}

.article-profile-btn:hover {
  text-decoration: underline;
  background-color: #f5f5f5;
}


.card-middle {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgray; 
}

.journal-data {
  display: block;
}

a.card-download-btn {
  width: 150px;
  height: 50px;
  margin: auto 30px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #6ca38d;
  color: #ffffff;
  background-color: #6ca38d;
  transition: 0.4s ease;
}

.card-download-btn:hover {
  color: #6ca38d;
  background-color: #fff;
  border: 1px solid #6ca38d;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: gray;
}

.card-bar-short+.card-bar-short {
  margin-right: 22px;
}