* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  height: 50px;
  border-bottom: solid 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.left-box {
  margin-left: 10px;
}

.icon {
  text-decoration: none;
  font-size: 30px;
  color: #333333;
}


.nav {
  font-size: 18px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 5rem;
  padding: 1vh 0;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}

.user-name {
  display: block;
  line-height: 50px;
  margin-right: 3vw;
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}

.login,
.guest-login {
  display: block;
  line-height: 50px;
  margin-right: 3vw;
  text-decoration: none;
  color: #333333;
}

.sign-up,
.logout {
  display: block;
  line-height: 50px;
  text-decoration: none;
  color: #333333;
}



.nav-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 1em;
}
.left-arrow {
  width: 12px;
  height: 12px;
  border: 2px solid;
  border-color: transparent transparent #333 #333;
  transform: rotate(45deg);
  margin-left: 2em;
}

.post-link {
  display: block;
  text-decoration: none;
  color: #333;
}

.user-name:hover,
.login:hover,
.sign-up:hover,
.logout:hover,
.post-link:hover {
  text-decoration: underline;
}