* {
  box-sizing: border-box;
}

.post-wrapper {
  width: 100vw;
  height: 40px;
  border-bottom: 1px solid black;
  background-color: #ffffff;
}

.post {
  float: right;
  text-decoration: none;
  font-size: large;
  color: black;
  line-height: 40px;
  margin-right: 90px;
}