* {
  box-sizing: border-box;
}

.card {
  width: 90%;
  margin: 20px auto 0;
  border: 1px solid black;
}

.researcher-card-contents {
  width: 95%;
  margin: auto auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-btn {
  text-decoration: none;
  color: black;
}

.image {
  height: 100%;
}