<div class="category-tabs">
  <div class="tab">
    <%= link_to "論文", articles_path(category_id: 1), class:"tab-btn" %>
  </div>
  <div class="tab">
    <%= link_to "研究ノート", articles_path(category_id: 2), class:"tab-btn" %>
  </div>
  <div class="tab">
    <%= link_to "講義資料", articles_path(category_id: 3), class:"tab-btn" %>
  </div>
  <div class="tab">
    <%= link_to "その他", articles_path(category_id: 4), class:"tab-btn" %>
  </div>
</div>