<div class="search-form">
<%= form_with url: search_articles_path, local: true, method: :get do |f| %>
  <% types = {記事: :articles, 研究者: :researchers} %>
  <%= f.select :type, types, class: "pulldown" %>
  <%= f.text_field :keyword, placeholder: "検索したいワードを入力してください", class: "text-form" %>
  <%= f.submit "検索", class: "submit-form" %>
<% end %>
</div>